/* SPACING SYSTEM (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* COLORS */
:root {
  --primary-color: #4263eb;
  --secondary-color: #5c7cfa;
  --text-color: #343a40;
  --accent-color: #eb4242;
}

/* FONTS */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 96rem;
  margin: 4.8rem auto;
  display: grid;
  grid-template-columns: 96rem;
  row-gap: 8rem;
}

.author-name {
  font-size: 6.4rem;
  text-transform: capitalize;
}

.author-email-link:link,
.author-email-link:visited {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
}

.headshot {
  max-width: 44rem;
  border-radius: 1.2rem;
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.07);
}

.personal-info-desktop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8rem;
}

.personal-info-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.personal-contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about {
  font-size: 1.8rem;
  line-height: 1.7;
}

.main-article {
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.07);
  padding: 3.2rem;
  border-radius: 1.2rem;
}

.header-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.header-icon {
  max-width: 4rem;
  max-height: 4rem;
}

.main-article-header {
  text-transform: uppercase;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

.education-container {
  display: flex;
  justify-content: space-between;
}

.school-name {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
}

.school-name + p {
  font-size: 1.8rem;
  line-height: 1.7;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.4rem;
}
.skill-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  max-width: 16rem;
  border: 0.1rem solid #000;
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.01);
  border-radius: 1.2rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.skill-container-item:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.1);
}

.skill-icon-svg {
  max-width: 5rem;
  height: 5rem;
}

.skill-icon {
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
}

.skill-name {
  font-size: 2.4rem;
  width: 100%;
  border-top: 0.1rem solid #000;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 1.2rem;
}

.interests-container {
  display: flex;
}

.interests-container-item {
  font-size: 1.8rem;
  line-height: 1.7;
}

.awards-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.awards-container-item {
  font-size: 1.8rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-container-section {
  margin-bottom: 2rem;
}

.portfolio-container-language-header {
  font-size: 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.portfolio-first-header {
  margin-top: 0rem;
}

.language-item-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.language-item-header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.language-item-description {
  font-size: 1.8rem;
  line-height: 1.7;
}

.language-item {
  display: flex;
  justify-content: space-between;
  gap: 9.6rem;
}

.language-item-link:link,
.language-item-link:visited {
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  align-self: center;
}

:is(.author-email-link, .language-item-link):link,
:is(.author-email-link, .language-item-link):visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  border-radius: 10rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

:is(.author-email-link, .language-item-link):hover,
:is(.author-email-link, .language-item-link):active {
  background-color: var(--secondary-color);
  box-shadow: 0 1.5rem 2rem rgba(92, 124, 250, 0.4);
  transform: translateY(-0.7rem);
}

/* Small Laptops */
@media (max-width: 68.75em) {
  .container {
    max-width: 80rem;
    grid-template-columns: 80rem;
  }

  .author-name {
    font-size: 5.2rem;
  }

  .author-email-link:link,
  .author-email-link:visited {
    font-size: 1.6rem;
  }

  .headshot {
    max-width: 36rem;
  }

  .about {
    font-size: 1.6rem;
  }

  .main-article-header {
    font-size: 3rem;
  }

  .school-name {
    font-size: 2rem;
  }

  .school-name + p {
    font-size: 1.6rem;
  }

  .skill-name {
    font-size: 2rem;
  }

  .interests-container-item {
    font-size: 1.6rem;
  }

  .awards-container-item {
    font-size: 1.6rem;
  }

  .portfolio-container-language-header {
    font-size: 2rem;
    margin-top: 0.8rem;
  }

  .language-item-header {
    font-size: 1.6rem;
  }

  .language-item-description {
    font-size: 1.6rem;
  }

  .language-item-link:link,
  .language-item-link:visited {
    font-size: 1.2rem;
  }
}

/* Tablets */
@media (max-width: 51.56em) {
  .container {
    max-width: 64rem;
    grid-template-columns: 64rem;
  }

  .personal-info-desktop {
    display: none;
  }

  .personal-info-mobile {
    display: flex;
  }

  .header-container {
    align-items: center;
  }

  .author-name {
    font-size: 8rem;
  }

  .author-email {
    align-self: center;
  }
  .author-email-link:link,
  .author-email-link:visited {
    font-size: 3.5rem;
    padding: 2rem 4rem;
  }

  .about {
    font-size: 2.1rem;
    text-align: center;
  }

  .headshot {
    max-width: 44rem;
  }

  .personal-info-desktop {
    gap: 4rem;
  }

  .main-article-header {
    font-size: 6rem;
  }

  .header-icon {
    max-width: 6rem;
    max-height: 6rem;
  }

  .education-container {
    flex-direction: column;
    gap: 2rem;
  }

  .school-name {
    font-size: 3.5rem;
  }

  .school-name + p {
    font-size: 2.1rem;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .interests-container-item {
    font-size: 2.1rem;
  }

  .awards-container-item {
    font-size: 2.1rem;
  }

  .portfolio-container-language-header {
    font-size: 5rem;
  }

  .language-item-header {
    font-size: 2.8rem;
  }

  .language-item-description {
    font-size: 2.1rem;
  }

  .language-item-link:link,
  .language-item-link:visited {
    padding: 2rem 4rem;
    font-size: 2.5rem;
    align-self: flex-start;
  }
}
