:root {
  --primary-color: #4263eb;
  --secondary-color: #5c7cfa;
  --text-color: #343a40;
  --accent-color: #eb4242;
}

.author-name {
  font-size: 6.4rem;
  text-transform: capitalize;
}

.author-email-link:link,
.author-email-link:visited {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
}

.headshot {
  max-width: 44rem;
  border-radius: 1.2rem;
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.07);
}

.personal-info-desktop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8rem;
}

.personal-info-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.personal-contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about {
  font-size: 1.8rem;
  line-height: 1.7;
}

.main-article {
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.07);
  padding: 3.2rem;
  border-radius: 1.2rem;
}

.header-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.header-icon {
  max-width: 4rem;
  max-height: 4rem;
}

.main-article-header {
  text-transform: uppercase;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

.education-container {
  display: flex;
  justify-content: space-between;
}

.school-name {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
}

.school-name + p {
  font-size: 1.8rem;
  line-height: 1.7;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.4rem;
}
.skill-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  max-width: 16rem;
  border: 0.1rem solid #000;
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.01);
  border-radius: 1.2rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.skill-container-item:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0rem 2rem 3rem 0rem rgb(0, 0, 0, 0.1);
}

.skill-icon-svg {
  max-width: 5rem;
  height: 5rem;
}

.skill-icon {
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
}

.skill-name {
  font-size: 2.4rem;
  width: 100%;
  border-top: 0.1rem solid #000;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 1.2rem;
}

.interests-container {
  display: flex;
}

.interests-container-item {
  font-size: 1.8rem;
  line-height: 1.7;
}

.awards-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.awards-container-item {
  font-size: 1.8rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-container-section {
  margin-bottom: 2rem;
}

.portfolio-container-language-header {
  font-size: 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.portfolio-first-header {
  margin-top: 0rem;
}

.language-item-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.language-item-header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.language-item-description {
  font-size: 1.8rem;
  line-height: 1.7;
}

.language-item {
  display: flex;
  justify-content: space-between;
  gap: 9.6rem;
}

.language-item-link:link,
.language-item-link:visited {
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  align-self: center;
}

:is(.author-email-link, .language-item-link):link,
:is(.author-email-link, .language-item-link):visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  border-radius: 10rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

:is(.author-email-link, .language-item-link):hover,
:is(.author-email-link, .language-item-link):active {
  background-color: var(--secondary-color);
  box-shadow: 0 1.5rem 2rem rgba(92, 124, 250, 0.4);
  transform: translateY(-0.7rem);
}
